@font-face {
	font-family: "Genshin";
	src: url("./../assets/font/genshin-impact-drip-font.ttf");
}

@font-face {
	font-family: "Genshin-font";
	src: url("./../assets/font/Genshin_Impact.ttf");
}
